@font-face{
   font-family: 'Lobster-Regular';
   src: url(../fonts/Lobster-Regular.ttf);
}
@font-face{
   font-family: 'Corm-Semibold';
   src: url(../fonts/CormorantInfant-SemiBoldItalic.ttf);
}
